@keyframes caretFlashSmooth {
    0%,100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}
.custom-caret-color {
    background: #e2b714;
}

.custom-caret-color {
    animation: caretFlashSmooth 1s infinite;
}
