@keyframes caretFlashSmooth {
    0%,100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}
.custom-caret-color::selection {
    background: transparent;
}

.custom-caret-color::caret {
    animation: caretFlashSmooth 3s infinite;
}
