@keyframes rotateMonkey {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.monkeymovement {
    animation: rotateMonkey 2s infinite;
}

@keyframes bothhand {
    0%{opacity:0}
    50%{opacity:1}
}
.monkeyboth{
    animation: bothhand 4s infinite
}
@keyframes lefthand {
    0%{opacity:1}
    50%{opacity:0}
}
.monkeyleft{
    animation: lefthand 4s infinite
}