@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #323437;
  --font: "Roboto Mono","Roboto Mono","Vazirmatn",monospace;
}
body {
  font-family: var(--font) !important;
}